<button mat-list-item [matMenuTriggerFor]="instanceMenu" [ngStyle]="{'background-color': buttonColor}">

  <span mat-line class="three-column">

    <span>
      <i class="far fa-calendar-plus"></i> {{instance.added.simpleDateString}}
    </span>

    <span>
      <i class="fas fa-user-plus"></i> {{instance.added.name}}
    </span>

    <span>
      <i class="fas fa-hourglass-end"></i> {{instance.expireOn.toSimpleString()}}
    </span>

  </span>

  <span mat-line class="space-between">

    <span>
      <i class="fas fa-comment-alt"></i> {{instance.comment}}
    </span>

    <span *ngIf="instance.price != null">
      {{instance.price.getAmount()}} {{instance.price.getCurrencyInfo().symbol_native}}
    </span>

  </span>

</button>


<mat-menu #instanceMenu="matMenu">

  <button mat-menu-item (click)="$event.stopPropagation()">
    <i class="fas fa-plus-square"></i> Added on {{instance.added.simpleDateString}} by {{instance.added.name}}
  </button>


  <button mat-menu-item (click)="$event.stopPropagation()" *ngIf="instance.isOpen()">
    <i class="fas fa-box-open"></i> Opened on {{instance.opened.simpleDateString}} by {{instance.opened.name}}
  </button>

  <button mat-menu-item *ngIf="!instance.isOpen() && !instance.isDeleted()"
          (click)="$event.stopPropagation(); openInstance()">
    <i class="fas fa-box-open"></i> OPEN
  </button>


  <button mat-menu-item (click)="$event.stopPropagation()" *ngIf="instance.isDeleted()">
    <i class="fas fa-trash"></i> Deleted on {{instance.deleted.simpleDateString}} by {{instance.deleted.name}}
  </button>

  <button mat-menu-item *ngIf="!instance.isDeleted()"
          (click)="$event.stopPropagation(); deleteInstance()">
    <i class="fas fa-trash"></i> DELETE
  </button>


  <button mat-menu-item *ngIf="instance.wishListItem != null" (click)="openWishList()">
    {{instance.wishListItem.wishList.name}}
  </button>

  <button mat-menu-item *ngIf="instance.wishListItem == null" [matMenuTriggerFor]="wishListItems">
    Add to WishList
  </button>


  <button mat-menu-item *ngIf="instance.shopList != null" (click)="openShopList()">
    {{instance.shopList.simpleString}}
  </button>

  <button mat-menu-item *ngIf="instance.shopList == null" [matMenuTriggerFor]="shopLists">
    Add to ShopList
  </button>


</mat-menu>


<mat-menu #wishListItems="matMenu">

  <ng-container *ngFor="let WL of getWishLists() | entityList">

    <span class="mat-menu-header">
      {{WL.name}}
    </span>

    <button mat-menu-item class="multi-lines-menu-item" *ngFor="let WLitem of getWishListItems(WL) | entityList" (click)="addToWishListItem(WLitem)">
      <span>{{WLitem.category.name}}</span>
      <span>{{WLitem.comment}}</span>
    </button>

  </ng-container>

</mat-menu>


<mat-menu #shopLists="matMenu">

  <button mat-menu-item class="multiple-lines-menu-item" *ngFor="let SL of getShopLists() | entityList" (click)="addToShopList(SL)">
    <span>{{SL.simpleString}}</span>
    <span>{{SL.created.name}}</span>
  </button>

</mat-menu>
