<ngb-carousel *ngIf="items != null" showNavigationArrows="true">

  <ng-template ngbSlide *ngFor="let item of items.list" >

    <div class="card">
      <img style="opacity: 0.6" class="card-img related-image" [src]="'images/' + item.id + '.jpg'" onerror="this.src = 'assets/icons/2.svg'">
      <div class="card-img-overlay" (click)="chosen.emit(item)" style="color: white; background: linear-gradient(to top, rgba(32,124,229,0) 0%, rgba(15,39,61,1) 100%);">
        <p class="card-text" style="display: flex; justify-content: space-between">
          <span>{{item.category.name}}</span>
          <span>{{item.producer.name}}</span>
        </p>
        <h5 class="card-title" style="text-align: justify">{{item.name}}</h5>
      </div>
    </div>

  </ng-template>


</ngb-carousel>

<app-loader *ngIf="items == null"></app-loader>
