<ngb-carousel *ngIf="items != null" showNavigationArrows="true">

  <ng-template ngbSlide *ngFor="let item of items.list">
    <div class="card" style="max-height: 100%">
      <img class="card-img-top" [src]="'http://91.134.142.39:8080/fridgeapi/images/' + item.id + '.jpg'" [alt]="item.name">
      <div class="card-img-overlay">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text"><small class="text-muted">{{item.category}}</small></p>
      </div>
    </div>
  </ng-template>


</ngb-carousel>

<app-loader *ngIf="items == null"></app-loader>
