<ng-container *ngIf="place != null && _category != null">

  <div class="card" style="width: 100%; height: 100%;">

    <div class="header" style="display: flex">

      <mat-form-field style="width: 100%; padding: 0 1em">
        <span matPrefix>
          <i class="fas fa-barcode"></i>&nbsp;
        </span>
        <input type="text" matInput placeholder="Search your item" (keyup.ENTER)="searchByName($event.target.value)">
        <span matSuffix>
          &nbsp;<i class="fas fa-times"></i>
        </span>
      </mat-form-field>

      <button mat-icon-button *ngIf="closeable" style="height: 100%" (click)="close.emit()">
        <mat-icon aria-hidden="false" aria-label="Back">arrow_back_ios</mat-icon>
      </button>

    </div>

    <!-- SEARCH RESULTS -->

    <mat-action-list *ngIf="items != null">
      <button mat-list-item *ngFor="let item of items | entityList" (click)="selectedItem.emit(item)">

        <h4 mat-line>NAME: {{item.name}}</h4>
        <p mat-line>
          <span>CATEGORY: </span>
          <span *ngFor="let category of item.category.getTrack()">
            {{category.name}} /
          </span>
        </p>

        <img src="https://image.flaticon.com/icons/svg/99/99518.svg"
             class="rounded" width="50px" height="50px">

      </button>
    </mat-action-list>


  </div>

  <!--ADD NEW ITEM-->
  <div class="option-buttons ob-right" *ngIf="_category.isFinal()">

    <button mat-fab aria-label="Add item"
            (click)="createNewItem()">
      <mat-icon aria-hidden="false" aria-label="Add item">plus</mat-icon>
    </button>

  </div>

</ng-container>

<app-loader *ngIf="!(place != null && _category != null)">
  {{'PLACE' + place == null}}
  {{'CATEGORY' + _category == null}}
</app-loader>
