<div class="header">

  <app-item-input style="width: 100%;" (value)="input = $event"></app-item-input>

  <button mat-icon-button *ngIf="closeable" style="height: 100%" (click)="close.emit()">
    <mat-icon aria-hidden="false" aria-label="Back">arrow_back_ios</mat-icon>
  </button>

</div>

<!-- SEARCH RESULTS -->

<div class="content">
  <app-item-picker-core [place]="place" [category]="category"
                        [input]="input" (selectedItem)="selectedItem.emit($event)">
  </app-item-picker-core>
</div>


<!--ADD NEW ITEM-->
<div class="option-buttons ob-right" *ngIf="category.isFinal()">

  <button mat-fab aria-label="Add item"
          (click)="createNewItem()">
    <mat-icon aria-hidden="false" aria-label="Add item">plus</mat-icon>
  </button>

</div>
