<div [attr.id]="'place-items-menu-' + _place.id" style="background-color: white"
     [ngClass]="size <= 1 ? 'fixed-top' : ''"
     [ngStyle]="{'max-height': size <= 1 ? '100vh' : '', 'overflow-y': size <= 1 ? 'scroll' : ''}" >

  <ul *ngIf="size <= 1" class="nav nav-tabs"
      style="display: flex; justify-content: space-between" >
    <li class="nav-item" (click)="content = ['USERS']">
      <i class="nav-link fas fa-users fa-2x" [ngClass]="content[0] === 'USERS' ? 'active' : ''"></i>
    </li>
    <li class="nav-item" (click)="content = ['CONTAINERS']">
      <i class="nav-link fas fa-boxes fa-2x" [ngClass]="content[0] === 'CONTAINERS' ? 'active' : ''"></i>
    </li>
    <li class="nav-item" (click)="content = ['WISHLISTS']">
      <i class="nav-link fas fa-clipboard-list fa-2x" [ngClass]="content[0] === 'WISHLISTS' ? 'active' : ''"></i>
    </li>
    <li class="nav-item" (click)="content = ['CATEGORIES']">
      <i class="nav-link fas fa-sitemap fa-2x" [ngClass]="content[0] === 'FILTER' ? 'active' : ''"></i>
    </li>
  </ul>

  <ul *ngIf="size > 2" class="nav nav-tabs" >
    <li class="nav-item" (click)="content = ['USERS', 'CONTAINERS', 'WISHLISTS']">
      <i class="nav-link fas fa-home fa-3x" [ngClass]="content.includes('USERS') ? 'active' : ''"></i>
    </li>
    <li class="nav-item" (click)="content = ['CATEGORIES']">
      <i class="nav-link fas fa-home fa-3x" [ngClass]="content.includes('FILTER') ? 'active' : ''"></i>
    </li>
  </ul>

  <div class="row">

    <div class="col-sm-12 col-md-6 col-lg-12">
      <ul class="list-group col-12" style="padding-right: 0"
          [ngStyle]="{'display': content.includes('USERS') ? '' : 'none'}">

        <li *ngIf="size >= 2" class="list-group-item list-group-item-dark"
            appCollapsableListHeader title="Users" [collapseName]="'users-list-' + _place.id"></li>
        <app-users-menu [attr.name]="'users-list-' + _place.id" [place]="_place"></app-users-menu>

      </ul>

      <ul class="list-group col-12" style="padding-right: 0"
          [ngStyle]="{'display': content.includes('CONTAINERS') ? '' : 'none'}">

        <li *ngIf="size >= 2" class="list-group-item list-group-item-dark"
            appCollapsableListHeader title="Containers" [collapseName]="'containers-list-' + _place.id"></li>
        <app-containers-menu [attr.name]="'containers-list-' + _place.id" (chosenContainers)="chosenContainers.emit($event)" [place]="_place"></app-containers-menu>

      </ul>

      <ul class="list-group col-12" style="padding-right: 0"
          [ngStyle]="{'display': content.includes('WISHLISTS') ? '' : 'none'}">

        <li *ngIf="size >= 2" class="list-group-item list-group-item-dark"
            appCollapsableListHeader title="WishLists" [collapseName]="'wl-list-' + _place.id"></li>
        <app-wish-list-menu [attr.name]="'wl-list-' + _place.id" (selectedWishList)="selectedWishList.emit($event)" [place]="_place"></app-wish-list-menu>

      </ul>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-12">
      <div [ngStyle]="{'display': content.includes('CATEGORIES') ? '' : 'none'}">
        <categories-menu (chosenCategory)="chosenCategory.emit($event)" class="sidebar"></categories-menu>
      </div>
    </div>

  </div>

  <div (click)="content = []" *ngIf="size <= 1" [attr.id]="'place-items-menu-' + _place.id + '-hider'"
       style="width: 100%; left: 0; right: 0; text-align: center; overflow: hidden"
       [ngStyle]="{'height': content.length > 0 ? '' : 0}">
    ^^^^^^^^^^^^
  </div>

</div>

