<ul class="list-group" style="margin-bottom: 15px; cursor: default">

  <li class="list-group-item list-group-item-secondary" appCollapsableListHeader title="WISH LIST" collapseName="wishListMenu"></li>


  <li [ngClass]="wishListId.equals(_selectedWishList) ? 'list-group-item list-group-item-secondary' : 'list-group-item'"
      *ngFor="let wishListId of list" (click)="select(wishListId)" name="wishListMenu">
    {{wishListId.name}}
  </li>

  <li class="list-group-item" name="wishListMenu">
    <button type="button" class="btn btn-dark" (click)="openForm()">Add new wishlist</button>
  </li>

</ul>
