<div class="input-group-prepend" style="display: flex; width: 100%">
  <span class="input-group-text" style="flex-grow: 1" (click)="openCategoriesSheet()">
    {{_category.name}}
  </span>
  <span class="input-group-text" style="flex-grow: 1" (click)="openProducersSheet()">
    Producers
  </span>
</div>


<div class="content" *ngIf="content === 'LIST'">
  <app-items-list [items]="items" [place]="place" (selectedItem)="openItem($event)">
  </app-items-list>
</div>


<div class="content" *ngIf="content === 'PICKER'">
  <app-item-picker (close)="content = 'LIST'" (selectedItem)="openItem($event)"
                   [category]="_category" [place]="place" [closeable]="true">
  </app-item-picker>
</div>

<div class="option-buttons ob-right" *ngIf="content == 'LIST'">

  <button mat-fab aria-label="Search item"
          (click)="content = 'PICKER'">
    <mat-icon aria-hidden="false" aria-label="Search item">search</mat-icon>
  </button>

  <button mat-fab aria-label="Filtr items">
    <mat-icon aria-hidden="false" aria-label="Search item">filter_list</mat-icon>
  </button>

</div>
