<ng-container *ngIf="_category != null">


  <div class="input-group-prepend" style="display: flex; width: 100%">
        <span class="input-group-text" style="flex-grow: 1" (click)="openCategoriesSheet()">
          {{_category.name}}
        </span>
    <span class="input-group-text" style="flex-grow: 1" (click)="openProducersSheet()">
          Producer
        </span>
  </div>

  <mat-action-list *ngIf="content == 'LIST'" style="height: calc(100% - 2.4em); overflow: auto">
    <button mat-list-item *ngFor="let item of items | entityList" (click)="openItem(item)">

      <h4 mat-line class="text-truncate">{{item.name}}</h4>

      <p mat-line class="space-between">
        <span>
          {{item.category.name}}
        </span>
        <span>
          {{item.producer.name}}
        </span>
      </p>

      <img [src]="imageUrl(item)" class="rounded" width="50px" height="50px">
    </button>
  </mat-action-list>

  <div *ngIf="content == 'PICKER'" style="height: calc(100% - 2.4em); overflow: auto">

    <app-item-picker (close)="content = 'LIST'" (selectedItem)="openItem($event)"
                     [category]="_category" [place]="place" [closeable]="true">
    </app-item-picker>

  </div>

</ng-container>


<div class="option-buttons ob-right" *ngIf="content == 'LIST'">

  <button mat-fab aria-label="Search item"
          (click)="content = 'PICKER'">
    <mat-icon aria-hidden="false" aria-label="Search item">search</mat-icon>
  </button>

  <button mat-fab aria-label="Filtr items">
    <mat-icon aria-hidden="false" aria-label="Search item">filter_list</mat-icon>
  </button>

</div>
