<mat-toolbar class="dialog-full-screen-toolbar">
  <mat-toolbar-row>
    <span>
      <mat-icon>plus</mat-icon> {{data.category.name}}
    </span>

    <close-dialog-button [dialogRef]="dialogRef"></close-dialog-button>
  </mat-toolbar-row>
</mat-toolbar>

<form>

  <!--NAME & BARCODE-->
  <div>

    <mat-form-field style="width: 50%;">
      <input matInput placeholder="Item name" name="item-name" [(ngModel)]="form.name"/>
    </mat-form-field>

    <mat-form-field style="width: 50%;">
      <input matInput placeholder="Barcode" name="item-barcode" [(ngModel)]="form.barcode"/>
    </mat-form-field>

  </div>


  <!--PRODUCER & UNIT-->
  <div>

    <mat-form-field style="width: 50%">
      <input matInput placeholder="Producer" name="item-producer" [(ngModel)]="form.producer"/>
    </mat-form-field>

    <mat-form-field style="width: 25%">
      <input matInput placeholder="Cp." type="number" name="item-capacity-value" [(ngModel)]="form.capacity.value">
    </mat-form-field>

    <mat-form-field style="width: 25%">

      <mat-label>Unit</mat-label>

      <mat-select name="item-capacity-unit" [(ngModel)]="form.capacity.unit">
        <mat-option value="KG">KG</mat-option>
        <mat-option value="G">g</mat-option>
        <mat-option value="L">L</mat-option>
        <mat-option value="ML">ml</mat-option>
      </mat-select>

    </mat-form-field>

  </div>


  <!--STORAGE RULES-->
  <div>

    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Storage rules" name="item-storage" [(ngModel)]="form.storage"/>
    </mat-form-field>

  </div>


  <!--ALLERGENS-->
  <div>

    <mat-form-field style="width: 100%;">
      <mat-chip-list #allergensChips aria-label="Allergens">

        <mat-chip *ngFor="let allergen of form.allergens | keyvalue" [selectable]="false"
                  (removed)="form.allergens.delete(allergen.key)">
          {{allergen.key}}
          <mat-checkbox [(ngModel)]="allergen.value"></mat-checkbox>
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>

        <input placeholder="New allergen"
               [matChipInputFor]="allergensChips"
               [matChipInputSeparatorKeyCodes]="[ENTER, COMMA]"
               [matChipInputAddOnBlur]="true"
               (matChipInputTokenEnd)="addAllergen($event.value)">
      </mat-chip-list>
    </mat-form-field>

  </div>


  <!--NUTRITION-->
  <div>

    <mat-card>

      <mat-card-header>
        <mat-card-title>Nutrition</mat-card-title>
      </mat-card-header>

      <mat-card-content class="double-column-form">

        <div>

          <mat-form-field>
            <input matInput type="number" placeholder="Energy (kJ)" name="item-energy"
                   [(ngModel)]="form.nutrition.energy">
          </mat-form-field>

          <mat-form-field>
            <input matInput type="number" placeholder="In" name="item-energy" [(ngModel)]="form.nutrition.energy">

            <mat-button-toggle-group matSuffix name="nutrition-unit" aria-label="Unit">
              <mat-button-toggle value="ML">ml</mat-button-toggle>
              <mat-button-toggle value="G">g</mat-button-toggle>
              <mat-button-toggle value="S">s</mat-button-toggle>
            </mat-button-toggle-group>
          </mat-form-field>

        </div>

        <div>

          <mat-form-field>
            <input matInput type="number" placeholder="Fat" name="item-fat" [(ngModel)]="form.nutrition.fat"/>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="number" placeholder="Fat saturated" name="item-fat"
                   [(ngModel)]="form.nutrition.saturatedFat">
          </mat-form-field>

        </div>

        <div>

          <mat-form-field>
            <input matInput type="number" placeholder="Carbohydrate" name="item-carbohydrate"
                   [(ngModel)]="form.nutrition.carbohydrate"/>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="number" placeholder="in which sugar" name="item-sugar"
                   [(ngModel)]="form.nutrition.sugar"/>
          </mat-form-field>

        </div>

        <div>

          <mat-form-field>
            <input matInput type="number" placeholder="Protein" name="item-protein"
                   [(ngModel)]="form.nutrition.protein"/>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="number" placeholder="Salt" name="item-salt" [(ngModel)]="form.nutrition.salt"/>
          </mat-form-field>

        </div>

      </mat-card-content>

    </mat-card>

  </div>

  <button type="button" class="btn btn-primary btn-lg btn-block" (click)="submit()">Submit</button>

</form>
