<mat-action-list>

  <ng-container *ngFor="let user of users | entityList">

    <button mat-list-item [matMenuTriggerFor]="userMenu">
      {{user.name}}
    </button>

    <mat-menu #userMenu="matMenu">

      <user-menu-stat [label]="'Added instances: '" [number]="user.stats.instancesAdded"></user-menu-stat>
      <user-menu-stat [label]="'Opened instances: '" [number]="user.stats.instancesOpened"></user-menu-stat>
      <user-menu-stat [label]="'Deleted instances: '" [number]="user.stats.instancesDeleted"></user-menu-stat>

      <button mat-menu-item [matMenuTriggerFor]="userOptions" *ngIf="canTakeAnyActions(user)">
        Manage user
      </button>

      <mat-menu #userOptions="matMenu">

        <button mat-menu-item *ngIf="canRemoveUser(user)" (click)="removeUser(user)">
          Remove
        </button>

        <button mat-menu-item *ngIf="canPromoteUser(user)" (click)="promoteUser(user)">
          Promote
        </button>

      </mat-menu>

    </mat-menu>

  </ng-container>

</mat-action-list>

<!--<mat-form-field style="width: 100%; padding: 0 0.5em">-->
  <!--<input matInput placeholder="New user name" [matAutocomplete]="usersAutocomplete"-->
         <!--[formControl]="formCtrl['name']" name="newuser-form-name"/>-->

  <!--<mat-icon matSuffix>add</mat-icon>-->

  <!--&lt;!&ndash;<mat-autocomplete #usersAutocomplete="matAutocomplete">&ndash;&gt;-->
  <!--&lt;!&ndash;<mat-option *ngFor="let user of usersList | entityList" [value]="user">&ndash;&gt;-->
  <!--&lt;!&ndash;{{user.name}}&ndash;&gt;-->
  <!--&lt;!&ndash;</mat-option>&ndash;&gt;-->
  <!--&lt;!&ndash;</mat-autocomplete>&ndash;&gt;-->
<!--</mat-form-field>-->
