<div class="card">

  <!--AFTER LOADED-->
  <ng-container *ngIf="_item != null">


    <!--NAME, IMAGE, CATEGORIES-->
    <div class="card-header" style="padding: 10px;">

      <div class="row">

        <div class="col-10">

          <!--CATEGORIES-->
          <div class="row" style="margin: 0;">
            <ul class="cat-breadcrumb card-subtitle mb-2 text-muted" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; ">
              <li *ngFor="let category of _item.category.getTrack()" >{{category.name}}</li>
            </ul>
          </div>

          <!--NAME-->
          <div class="row">
            <h5 class="card-title col-12"
                style="text-overflow: ellipsis; overflow: hidden"
                [ngStyle]="{'white-space': wrapWS ? 'normal' : 'nowrap'}"
                (mousedown)="wrapWS = true" (mouseup)="wrapWS = false" (dblclick)="wrapWS = !wrapWS">
              {{_item.name}}
            </h5>
          </div>

        </div>

        <!--IMAGE-->
        <div class="col-2" style="padding: 0">
          <img [attr.src]="'http://91.134.142.39:8080/fridgeapi/images/' + _item.id + '.jpg'" class="rounded-circle" style="max-width: 100%; height: auto;">
        </div>

      </div>

     </div>


    <!--BUTTONS-->
    <div class="btn-group" role="group">

       <!--NEW INSTANCE BUTTON-->
       <button type="button" class="btn btn-secondary text-nowrap" style="width: calc(100% / 3)"
               (click)="expand('NEW_INSTANCE')">
         + instance
       </button>

       <!--INSTANCES ALL BUTTON-->
       <button type="button" class="btn btn-secondary text-nowrap" style="width: calc(100% / 3)"
               (click)="expand('INSTANCES')">
         {{_instances.size()}} instances
       </button>

       <!--DETAILS BUTTON-->
       <button type="button" class="btn btn-secondary text-nowrap" style="width: calc(100% / 3)"
               (click)="expand('DETAILS')">
         Show details
       </button>

     </div>


    <!--DETAILS-->
    <div [ngClass]="{'card-body in' : !_collapsed}" style="padding: 0;">

      <app-item-instances *ngIf="_content === 'INSTANCES'"
                          [instances]="_instances"
      ></app-item-instances>

      <app-new-instance-form *ngIf="_content === 'NEW_INSTANCE'"
                             [containers]="containers" [item]="_item"
                             (newInstance)="newItemInstance.emit($event)"
      ></app-new-instance-form>

      <app-item-description *ngIf="_content === 'DETAILS'"
                            [item]="_item"
      ></app-item-description>

    </div>


  </ng-container>


  <!--BEFORE LOADED-->
  <app-loader *ngIf="_item == null"></app-loader>

</div>



