:host {
  width: 100%;
  padding-bottom: 15px;
}

/* Style the ALL */
ul.cat-breadcrumb {
  list-style: none;
  padding-left: 7px;
  padding-top: 5px;
}

/* Display ALL items side by side */
ul.cat-breadcrumb li {
  display: inline;
}

.item-header {
  padding: 10px;
  border-bottom: none;
  background-color: #edecf3;
}

.item-button {
  width: calc(100% / 3);
  border-top: none;
  border-bottom: none;
}

.item-button-group {
}

.item-card {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.instances-list-container {
  padding-bottom: 0.3em;
  border-bottom: black 2px solid;
}

.instances-list-container > h2 {
  display: flex;
  justify-content: space-between;
}

.instances-list-container > h2 > span {
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-instance {
  padding: 1em 0;
}

.item-instance:not(:last-child) {
  border-bottom: black 1px solid;
}
