<!--<mat-card *ngIf="rootCategory">-->

  <!--<mat-card-header>-->

    <!--<mat-card-title class="space-between">-->
      <!--{{rootCategory.name}}-->

      <!--Children: {{rootCategory.children.length}}-->
      <!--<button mat-stroked-button *ngIf="rootCategory.parent != null"-->
              <!--(click)="chooseCategory(rootCategory.parent)">-->
        <!--<mat-icon>keyboard_arrow_up</mat-icon>-->
      <!--</button>-->

    <!--</mat-card-title>-->

  <!--</mat-card-header>-->

  <!--<mat-card-content style="padding: 0.8em">-->
    <!--<mat-chip-list>-->
      <!--<mat-chip (click)="chooseCategory(category)" *ngFor="let category of rootCategory.children">-->
        <!--{{category.name}}-->
      <!--</mat-chip>-->
    <!--</mat-chip-list>-->
  <!--</mat-card-content>-->

<!--</mat-card>-->


<mat-action-list>
  <button mat-list-item (click)="rootCategory.parent != null ? chooseCategory(rootCategory.parent) : void">
    <span class="space-between" style="width: 100%;">
      <mat-icon>
        {{rootCategory.parent != null ? 'keyboard_arrow_left' : ''}}
      </mat-icon>
      <b>
        {{rootCategory.name}}
      </b>
    </span>

  </button>

  <button mat-list-item *ngFor="let category of rootCategory.children" (click)="chooseCategory(category)">
    <span class="space-between" style="width: 100%">
      <span>
        {{category.name}}
      </span>

      <mat-icon>
        keyboard_arrow_right
      </mat-icon>
    </span>
  </button>

</mat-action-list>
