<mat-action-list>
  <button mat-list-item (click)="rootCategory.parent != null ? chooseCategory(rootCategory.parent) : void">
    <span class="space-between" style="width: 100%;">
      <mat-icon>
        {{rootCategory.parent != null ? 'keyboard_arrow_left' : ''}}
      </mat-icon>
      <b>
        {{rootCategory.name}}
      </b>
    </span>

  </button>

  <button mat-list-item *ngFor="let category of rootCategory.children" (click)="chooseCategory(category)">
    <span class="space-between" style="width: 100%">
      <span>
        {{category.name}}
      </span>

      <mat-icon>
        keyboard_arrow_right
      </mat-icon>
    </span>
  </button>

</mat-action-list>
