<mat-toolbar class="dialog-full-screen-toolbar">
  <mat-toolbar-row class="space-between">
    <span>Add WishList item</span>

    <close-dialog-button [dialogRef]="dialogRef"></close-dialog-button>
  </mat-toolbar-row>
</mat-toolbar>


<div style="width: 100%">
  <textarea matInput name="comment" rows="2"
            [(ngModel)]="form.comment" placeholder="Type your comment here...">
  </textarea>
</div>


<div>
  <categories-menu (chosenCategory)="selectCategory($event)">
  </categories-menu>
</div>


<button mat-button mat-raised-button style="width: 100%;"
        (click)="submit()">
  <mat-icon>plus</mat-icon>
  Add item
</button>
