<div class="container" *ngIf="_wishList != null">

  <div class="row pb-4">
    <button class="col btn btn-outline-info btn-lg btn-block"
            style="border: none" disabled>
      Add new item to wishlist
    </button>

    <button type="button" class="col-2 close" style="float: right" aria-label="Close" (click)="close.emit()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="row pb-4">
    <categories-menu (chosenCategory)="selectCategory($event)"></categories-menu>
  </div>

  <div class="row pb-4">
    <button *ngIf="form.item_id == null" style="width: 100%; height: 100%"
            type="button" class="btn btn-secondary btn-lg" disabled>
      {{activeElement.name}}
    </button>
  </div>

  <div class="row pb-4">
    <textarea name="comment" id="comment" style="width: 100%" rows="3"
              [(ngModel)]="form.comment" placeholder="Type your comment here..." >
    </textarea>
  </div>

  <div class="row">
    <button class="btn btn-primary btn-lg btn-block" (click)="submit()"><i class="fas fa-plus"></i></button>
  </div>

</div>

<app-loader *ngIf="_wishList == null"></app-loader>
