@import "../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

@media only screen and (min-width: 600px) {

  :root {
    --wm: 600px;
  }

}

@media only screen and (max-width: 600px) {

  :root {
    --wm: 100vw;
  }

}


:root {
  --margin-x: calc( ((100vw - var(--wm)) / 2) );
}

.nowrap {

}

body {
  overflow-x: hidden;
  background-image: url("../assets/images/bg.svg");
}

* {
  box-sizing: border-box;
}

/*UTILS*/
body {
  margin-left: calc( (100vh - 600px) / 2 );
}

.full-width {
  min-width: var(--wm) !important;
  max-width: var(--wm) !important;
}

.full-screen {
  min-width: var(--wm) !important;
  max-width: var(--wm) !important;
  min-height: 100vh;
  max-height: 100vh;
}

.full-width-center {
  min-width: var(--wm) !important;
  max-width: var(--wm) !important;
  margin-left: var(--margin-x);
}

.space-between {
  display: flex !important;
  justify-content: space-between !important;
}

.three-column {
  display: flex !important;
}

.three-column > * {
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 33.333333%;
}

.three-column > *:first-child {
  text-align: left;
}

.three-column > *:last-child {
  text-align: right;
}

/* OPTION BUTTONS */

.option-buttons {
  bottom: 1rem;
  position: fixed;
}

.ob-left {
  left: calc(var(--margin-x) + 1rem);
}

.ob-right {
  right: calc(var(--margin-x) + 1rem);
}

.option-buttons > button {
  display: block;
}

.option-buttos > button:not(:last-child) {
  margin-bottom: 0.5rem;
}

/*MAT LIST ITEMS*/

.mat-list-item .mat-list-item-content {
  padding-right: 0;
  padding-left: 0;
}

.full-screen-toolbar {
  margin: -24px -24px 0 -24px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.app-full-bleed-dialog .mat-dialog-container {
  padding: 0;
}

/* DIALOG */


/* DIALOG ELEMENTS*/

.dialog-full-width-element {
  width: var(--wm) !important;
  margin-left: -24px !important;
  margin-right: -24px !important;
}

.dialog-full-screen-toolbar {
  margin: -24px -24px 0 -24px;
  min-width: var(--wm);
  max-width: var(--wm);
}

.dialog-full-screen-toolbar > .mat-toolbar-row {
  display: flex;
  justify-content: space-between;
}

.dialog-full-screen-bottom {
  margin-right: -24px;
  margin-left: -24px;
  margin-bottom: -24px;

  min-width: var(--wm);
  width: var(--wm);
}





/*MAT MENU */

.multi-lines-menu-item {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.multi-lines-menu-item > span {
  display: block;
}

.multi-lines-menu-item > span:first-child {
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.multi-lines-menu-item > span:not(:first-child) {
  line-height: 1.2rem;
}

.mat-menu-header {
  padding: 0 6px;
  color: grey;
}

/*MAT ACCORDION*/

.two-line-mat-expansion-header {
  height: unset !important;
}

.two-line-mat-expansion-header > .mat-content {
  display: block;
}


/* WISH LIST ACCORDION */
.header-added .mat-expansion-indicator { }

.header-added .mat-expansion-indicator::after {
  color: #2e7565;
  content: '\f058';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transform: none;
  border-style: none;
  border-width: 0;
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
}

.header-missed .mat-expansion-indicator { }

.header-missed .mat-expansion-indicator::after {
  color: rgba(107, 0, 12, 0.73);
  content: '\f057';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transform: none;
  border-style: none;
  border-width: 0;
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
}
