<mat-toolbar color="primary" class="dialog-full-screen-toolbar">

  <mat-toolbar-row>

    <span>
      {{_wishList.name}}
    </span>

    <span>

      <button mat-icon-button (click)="archive()" *ngIf="_wishList.archived == null">
        <i class="fa fa-trash-alt"></i>
      </button>

      <close-dialog-button [dialogRef]="dialogRef">
      </close-dialog-button>
      
    </span>

  </mat-toolbar-row>

</mat-toolbar>


<mat-accordion>

  <mat-expansion-panel class="dialog-full-width-element" *ngFor="let item of _wishList.wishListItems | entityList">

    <mat-expansion-panel-header [ngClass]="indicatorClass(item)">
      <mat-panel-title class="text-nowrap">
        {{item.category.name}}
      </mat-panel-title>

      <mat-panel-description class="text-truncate">
        <span>
          {{item.comment}}
        </span>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-wish-list-item [item]="item">
    </app-wish-list-item>

  </mat-expansion-panel>

</mat-accordion>


<div class="option-buttons ob-right">

  <button mat-fab aria-label="Add item" (click)="openForm()" *ngIf="_wishList.archived == null">
    <mat-icon>add</mat-icon>
  </button>

</div>
