<app-wish-list-header [wishList]="_wishList" [dialogRef]="dialogRef">
</app-wish-list-header>

<div class="dialog-content">
  <mat-accordion>

    <mat-expansion-panel *ngFor="let item of _wishList.wishListItems | entityList">

      <mat-expansion-panel-header [ngClass]="indicatorClass(item)">
        <mat-panel-title class="text-nowrap">
          {{item.category.name}}
        </mat-panel-title>

        <mat-panel-description class="text-truncate">
          <span>
            {{item.comment}}
          </span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-wish-list-item [item]="item">
      </app-wish-list-item>

    </mat-expansion-panel>

  </mat-accordion>
</div>


<div class="option-buttons ob-right">

  <button mat-fab aria-label="Add item" (click)="openForm()" *ngIf="_wishList.archived == null">
    <mat-icon>add</mat-icon>
  </button>

</div>
