<ng-container *ngIf="_category != null">


  <div class="input-group-prepend" style="display: flex; width: 100%">
        <span class="input-group-text" style="flex-grow: 1">
          {{_category.name}}
        </span>
    <span class="input-group-text" style="flex-grow: 1">
          Producer
        </span>
  </div>

  <mat-action-list *ngIf="items != null && content == 'LIST'">
    <button mat-list-item *ngFor="let item of items | entityList" (click)="openItem(item)">

      <h4 mat-line>NAME: {{item.name}}</h4>

      <p mat-line>
        <span>CATEGORY: </span>
        <span *ngFor="let category of item.category.getTrack()">
            {{category.name}} /
          </span>
      </p>

      <img src="https://image.flaticon.com/icons/svg/99/99518.svg" class="rounded" width="50px" height="50px">
    </button>
  </mat-action-list>

  <div style="height: calc(100vh - 88px)" *ngIf="content == 'PICKER'">

    <app-item-picker (close)="content = 'LIST'" (selectedItem)="openItem($event)"
                     [category]="_category" [place]="_place" [closeable]="true">
    </app-item-picker>

  </div>

</ng-container>


<div class="option-buttons ob-right" *ngIf="content == 'LIST'">

  <button mat-fab aria-label="Search item"
          (click)="content = 'PICKER'">
    <mat-icon aria-hidden="false" aria-label="Search item">search</mat-icon>
  </button>

  <button mat-fab aria-label="Filtr items">
    <mat-icon aria-hidden="false" aria-label="Search item">filter_list</mat-icon>
  </button>

</div>
