<script src="place-items-scene.component.ts"></script>
<ng-container *ngIf="_place != null && _category != null && _containers != null">

  <div class="row">

    <div class="col" style="margin-right: 0; margin-left: 0; padding-left: 0; padding-right: 7px; max-width: 50%"> <!-- ITEM PICKER -->
      <app-item-picker [category]="_category"
                       [place]="_place"
                       (selectedItem)="setSelectedItem($event)">
      </app-item-picker>
    </div>


    <div class="col" style="margin-right: 0; margin-left: 0; padding-right: 0; padding-left: 7px;"> <!-- COMPONENT OF ITEM CHOSEM FROM ITEM-PICKER OR RELATED ITEMS -->
      <app-item *ngIf="selectedItem != null"
                [chosenContainers]="_containers"
                [item]="selectedItem"
                [instances]="visibleInstances.getByItem(selectedItem)"
                [fullScreen]="true"
                [chosen]="true"
                (closeChosen)="selectedItem = null"
                (newItemInstance)="newInstance($event)"
      ></app-item>

      <ul *ngIf="instancesLogs != null && selectedItem == null">
        <li *ngFor="let log of instancesLogs.list;">
          {{instancesLogs.toString(log.id)}}
        </li>p
      </ul>
    </div>

  </div>

   <!-- ALL OF ITEMS WITH (defaultly) UNDELETED INSTANCES -->
  <div class="row" style="margin-top: 30px;">

    <div class="col" style="margin: 0; padding-left: 0; padding-right: 7px;">
      <div class="row" style="margin-right: 0; margin-left: 0; margin-top:5px;"
           *ngFor="let item of visibleItems.list; let i = index" >
        <app-item *ngIf="i%2 == 0"
                  [item]="item"
                  [instances]="visibleInstances.getByItem(item)"
                  [chosenContainers]="_containers"
                  [fullScreen]="true"
                  (visible)="$event ? items.push(item): items.remove(item)"
                  (newItemInstance)="newInstance($event)"
        >
        </app-item>
      </div>
    </div>

    <div class="col" style="margin: 0; padding-right: 0; padding-left: 7px;">
      <div class="row" style="margin-right: 0; margin-left: 0; margin-top:5px;"
          *ngFor="let item of visibleItems.list; let i = index">
        <app-item *ngIf="i%2 == 1"
                  [item]="item"
                  [instances]="instances.getByItem(item)"
                  [chosenContainers]="_containers"
                  [fullScreen]="true"
                  (visible)="$event ? items.push(item): items.remove(item)"
                  (newItemInstance)="newInstance($event)"
        >
        </app-item>
      </div>
    </div>

  </div>

</ng-container>


<ng-container *ngIf="!(_place != null && _category != null && _containers != null)">
  <img src="https://media1.tenor.com/images/c26a081912a71af8d0e57799c291ced5/tenor.gif?itemid=8524221"/>
  PLACE: {{_place == null}} <br/>
  CATEGORY: {{_category == null}} <br/>
  CONTAINERS: {{_containers == null}} <br/>
</ng-container>
