<ng-container *ngIf="_place != null && _category != null && _containers != null">

  <div class="row">

    <div class="col-lg-6" style="margin-right: 0; margin-left: 0;" [attr.id]="'item-picker-' + _place.id"> <!-- ITEM PICKER -->
      <app-item-picker [category]="_category"
                       [place]="_place"
                       (selectedItem)="setSelectedItem($event)">
      </app-item-picker>
    </div>


    <div class="col-lg-6" style="margin-right: 0; margin-left: 0;" [attr.id]="'chosen-item-' + _place.id"> <!-- COMPONENT OF ITEM CHOSEN FROM ITEM-PICKER OR RELATED ITEMS -->
      <app-item *ngIf="selectedItem != null"
                [chosenContainers]="_containers"
                [item]="selectedItem"
                [instances]="baseInstances.getByItems(selectedItem)"
                [fullScreen]="true"
                [chosen]="true"
                (closeChosen)="selectedItem = null"
                (newItemInstance)="newInstance($event)">
      </app-item>

      <ul *ngIf="instancesLogs != null && selectedItem == null">
        <li *ngFor="let log of instancesLogs.list;">
          {{instancesLogs.toString(log.id)}}
        </li>p
      </ul>
    </div>

  </div>

   <!-- ALL OF ITEMS WITH (defaultly) UNDELETED INSTANCES -->
  <div class="row" style="margin-top: 30px;">

    <div class="col-sm-12 col-md-6 items-row">
      <div class="row " style="margin-right: 0; margin-left: 0;" *ngFor="let item of items; let i = index" >
        <app-item *ngIf="i%2 == 0"
                  [item]="item"
                  [instances]="getVisibleInstances().getByItems(item)"
                  [chosenContainers]="_containers"
                  [fullScreen]="true"
                  (visible)="$event ? items.push(item): items.remove(item)"
                  (newItemInstance)="newInstance($event)"
        >
        </app-item>
      </div>

      <div class="mat-divider"></div>

    </div>

    <div class="col-sm-12 col-md-6 items-row" style="">
      <div  class="row" style="margin-right: 0; margin-left: 0" *ngFor="let item of items; let i = index">
        <app-item *ngIf="i%2 == 1"
                  [item]="item"
                  [instances]="getVisibleInstances().getByItems(item)"
                  [chosenContainers]="_containers"
                  [fullScreen]="true"
                  (visible)="$event ? items.push(item): items.remove(item)"
                  (newItemInstance)="newInstance($event)">
        </app-item>
      </div>
    </div>

    <div class="mat-divider"></div>

  </div>

</ng-container>


<app-loader *ngIf="!(_place != null && _category != null && _containers != null)"></app-loader>

