<mat-toolbar class="dialog-full-screen-toolbar">

  <mat-toolbar-row>

    <span class="text-truncate" style="width: calc(100% - 80px)">
      <mat-icon aria-hidden="false" aria-label="Icon">fastfood</mat-icon>
      {{item.name}}
    </span>

    <span>
      <button mat-icon-button *ngIf="content === 'INSTANCES'" (click)="content = 'INFO'">
        <mat-icon aria-hidden="false" aria-label="Item info">info</mat-icon>
      </button>

      <button mat-icon-button *ngIf="content === 'INFO'" (click)="content = 'INSTANCES'">
        <mat-icon aria-hidden="false" aria-label="Instances">list</mat-icon>
      </button>

      <close-dialog-button [dialogRef]="dialogRef"></close-dialog-button>
    </span>

  </mat-toolbar-row>

</mat-toolbar>


<div [ngStyle]="{'display': content === 'INFO' ? '' : 'none'}">

</div>

<mat-action-list class="dialog-full-width-element" [ngStyle]="{'display': content === 'INSTANCES' ? '' : 'none'}">

  <!--CURRENT INSTANCES-->

  <ng-container *ngFor="let container of getContainers() | entityList">

    <h3 mat-subheader class="space-between">
      <span>
        {{container.name}}
      </span>
      <span>
        {{container.place.name}}
      </span>
    </h3>

    <app-item-instance *ngFor="let instance of container.instances.getByItems(item).filterByDeleted(false) | entityList"
                       [instance]="instance">
    </app-item-instance>

  </ng-container>


  <mat-divider></mat-divider>


  <!--DELTED INSTANCES-->

  <ng-container *ngFor="let dI of deletedInstances" style="background-color: #F8F8F8">

    <ng-container *ngFor="let container of dI.getContainers() | entityList">

      <h3 mat-subheader class="space-between">
        <span>
          {{container.name}}
        </span>
        <span>
          {{container.place.name}}
        </span>
      </h3>

      <app-item-instance *ngFor="let instance of dI.getByContainers(container) | entityList" [instance]="instance"
                         [buttonColor]="'#F8F8F8'">
      </app-item-instance>

    </ng-container>

  </ng-container>

  <button mat-list-item *ngIf="deletedInstancesFetches != null" (click)="getDeletedInstances()"
          style="background-color: #F8F8F8;">Show more...
  </button>

</mat-action-list>


<div class="option-buttons ob-right">

  <button mat-fab (click)="addNewInstance()">
    <mat-icon aria-hidden="false" aria-label="Add instance">add</mat-icon>
  </button>

</div>
