<mat-toolbar>

  <mat-toolbar-row>

    <span class="text-truncate" style="width: calc(100% - 80px)">
      <img [src]="imageUrl" width="25px" height="25px" class="rounded" />
      {{item.name}}
    </span>

    <span>
      <button mat-icon-button *ngIf="content === 'INSTANCES'" (click)="content = 'INFO'">
        <mat-icon aria-hidden="false" aria-label="Item info">info</mat-icon>
      </button>

      <button mat-icon-button *ngIf="content === 'INFO'" (click)="content = 'INSTANCES'">
        <mat-icon aria-hidden="false" aria-label="Instances">list</mat-icon>
      </button>

      <close-dialog-button [dialogRef]="dialogRef"></close-dialog-button>
    </span>

  </mat-toolbar-row>

</mat-toolbar>

<div class="dialog-content">

  <app-item-description [ngStyle]="{'display': content === 'INFO' ? '' : 'none'}"
                        [item]="item">
  </app-item-description>


  <app-item-instances-list [ngStyle]="{'display': content === 'INSTANCES' ? '' : 'none'}"
                           [item]="item" [places]="places">
  </app-item-instances-list>

</div>


<div class="option-buttons ob-right">

  <button mat-fab (click)="addNewInstance()">
    <mat-icon aria-hidden="false" aria-label="Add instance">add</mat-icon>
  </button>

</div>
