.username {
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  position: absolute;
  padding: inherit;
}

.icon {
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  padding: inherit;
}
