<ng-container *ngIf="_place != null && _users != null">

    <li class="list-group-item list-group-item-action"
        *ngFor="let user of _users.getByStatus(true).list">

      <!--USER NAME-->
      <span class="username" popoverTitle="User stats" [ngbPopover]="statsPopoverContent" placement="bottom">
        {{user.name}}
      </span>

      <!-- STATS POPOVER -->
      <ng-template #statsPopoverContent>
        <ul class="list-group list-group-flush" *ngIf="usersStats != null">
          <li class="list-group-item"> Added:   <b>{{user.stats.instancesAdded}}</b> </li>
          <li class="list-group-item"> Opened:  <b>{{user.stats.instancesOpened}}</b> </li>
          <li class="list-group-item"> Deleted: <b>{{user.stats.instancesDeleted}}</b> </li>
        </ul>
      </ng-template>


      <span class="icon" popoverTitle="Admin options" [ngbPopover]="adminOptions" placement="left"
            *ngIf="isAdmin() && !isAdmin(user)">
        <i class="fas fa-ellipsis-v"></i>
      </span>

      <!--ADMIN OPTIONS POPOVER-->
      <ng-template #adminOptions>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" (click)="promoteUser(user)">PROMOTE <i class="fas fa-user-tie">   </i></li>
          <li class="list-group-item" (click)="removeUser(user)">REMOVE   <i class="fas fa-user-times"> </i></li>
        </ul>
      </ng-template>


      <!--HIDDEN non-positionabsoluteelement is required to item_id display properly-->
      <span style="visibility: hidden">users</span>

    </li>


    <!--NEW USER FORM-->
    <li class="list-group-item" ngbDropdown *ngIf="isAdmin()" style="padding: 0; height: 50px">

      <input autocomplete="off" type="text" class="dropdown-toggle" data-toggle="dropdown" [(ngModel)]="form.name" (keyup)="onFormNameChange()" name="name"
             placeholder="Add new user" style="width: 80%; height: 50px; border: none; padding-left: 10%;" ngbDropdownToggle aria-expanded="false" id="addNewUser"/>

      <button style="width: 20%; height: 50px;" [disabled]="this.form.id == null" type="submit" (click)="addUser()">+</button>

      <div ngbDropdownMenu aria-labelledby="addNewUser" style="width: 100%">
        <button class="dropdown-item" *ngFor="let user of usersList.list" (click)="selectUserToAdd(user)">{{user.name}}</button>
      </div>

    </li>

</ng-container>

<ng-container *ngIf="!(_place != null && _users != null)">
  WAAAAAAAAIAIAIAIAIIAIIAIIAIAAT
</ng-container>



