<div class="body-box">
  <div class="login-box">
    <img src="http://3.bp.blogspot.com/_7U3SWB4tHEY/S6GD9iYdOAI/AAAAAAAAAUk/6P1M0dQY_TE/s400/Harry-Potter-Avatar-3%5B1%5D.jpg" class="avatar">
    <div class="h1-box">Login Here</div>

    <form>
      <ng-container *ngIf="loginForm.errors != null">
        <p style="color: red" *ngFor="let e of loginForm.errors.messages">{{e}}</p>
      </ng-container>

      <p>Username</p>
      <input type="text" name="username" [(ngModel)]="loginForm.name" placeholder="Enter Username">

      <p>Password</p>
      <input type="password" name="password" [(ngModel)]="loginForm.password" placeholder="Enter Password">
      <input type="submit" name="submit" (click)="submit()" value="SIGN IN">

      <div style="display: flex; justify-content: space-between">
        <a href="#">Forget Password</a>
        <a href="#" (click)="switchToRegister()">Sign up</a>
      </div>
    </form>

  </div>
</div>


