<ng-container *ngIf="containers != null && item != null">

  <div class="container" style="margin: 20px; width: calc(100% - 40px)">

    <div class="row">
      <input type="text" style="width: 100%" class="form-control" name="comment" [(ngModel)]="form.comment" placeholder="Your comment">
    </div>

    <div class="row">
      <div class="col-sm-12 col-lg-6" style="padding: 0">
        <ngb-datepicker style="width: 100%" #dp [(ngModel)]="selectedDate" (select)="onDateChange()" (navigate)="date = $event.next"></ngb-datepicker>
      </div>

      <div class="col-sm-12 col-lg-6" style="padding: 0;">
        <select class="custom-select" size="5" [(ngModel)]="form.containerId" style="height: 50%;">
          <option value="" selected disabled>Choose container</option>
          <option *ngFor="let container of containers.list" value="{{container.id}}">{{container.name}}</option>
        </select>


        <button type="button" class="btn btn-block btn-outline-primary"
                style="height: 50%; width: 100%;" (click)="submit()">
          Submit
        </button>
      </div>
    </div>

    <div class="row" *ngIf="form.errors != null" style="color: red">
      <span *ngFor="let error of form.errors.messages">
        {{error}}
      </span>
    </div>

  </div>

</ng-container>

<app-loader *ngIf="!(containers != null && item != null)"></app-loader>
