<ng-container *ngIf="rootCategory != null">

  <button class="btn" style="height: 40px; width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap"
          (click)="chooseCategory(rootCategory.isFinal() ? rootCategory.parent : rootCategory)">
    <i class="fas fa-arrow-up"></i>
    {{rootCategory.isFinal() ? rootCategory.parent.name : rootCategory.name}}
  </button>


  <div class="ctg-menu-btn-group" name="categoriesMenu" style="max-height: 340px; max-width: 100%; overflow-y: auto;">

    <button *ngFor="let category of rootCategory.isFinal() ? rootCategory.parent.children : rootCategory.children"
            [ngClass]="'button' + (rootCategory.isFinal() && rootCategory.equals(category) ? ' active' : '')"
            (click)="chooseCategory(category)">
      {{category.name}}
    </button>

  </div>

</ng-container>

<app-loader *ngIf="rootCategory == null"></app-loader>
