<div class="ctg-menu-btn-group" *ngIf="rootCategory != null">

  <li class="list-group-item list-group-item-secondary" appCollapsableListHeader
          [title]="rootCategory.isFinal() ? rootCategory.parent.name : rootCategory.name"
          collapseName="categoriesMenu"
          (click)="chooseCategory(rootCategory.isFinal() ? rootCategory.parent : rootCategory)">
  </li>


  <button *ngFor="let category of rootCategory.isFinal() ? rootCategory.parent.children : rootCategory.children"
          [ngClass]="'button' + (rootCategory.isFinal() && rootCategory.equals(category) ? ' active' : '')"
          (click)="chooseCategory(category)" name="categoriesMenu">
    {{category.name}}
  </button>

</div>

