<form>

  <div>

    <div class="instance-form-row">

      <mat-form-field style="width: 50%;">

        <input matInput [matDatepicker]="picker" placeholder="Expiration date" [(ngModel)]="form.expireDate"
               name="expireDate">

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        <app-form-error [errors]="form.errors" [field]="'expireDate'"></app-form-error>

      </mat-form-field>

      <mat-form-field style="width: 25%;">

        <mat-label>Price</mat-label>

        <input matInput type="number" name="price" [(ngModel)]="form.price.amount">

        <app-form-error [errors]="form.errors" [field]="'price'"></app-form-error>

      </mat-form-field>

      <mat-form-field style="width: 25%">

        <mat-label>Currency</mat-label>

        <mat-select name="currency" [(ngModel)]="form.price.currency">
          <mat-option *ngFor="let currency of currencies"
                      [value]="currency.code">
            {{currency.code}}
          </mat-option>
        </mat-select>

      </mat-form-field>

    </div>

    <div class="instance-form-row">

      <mat-form-field>

        <mat-label>Comment</mat-label>

        <input matInput type="text" placeholder="Comment" name="comment" [(ngModel)]="form.comment">

        <app-form-error [errors]="form.errors" [field]="'comment'"></app-form-error>

      </mat-form-field>


      <mat-form-field>

        <mat-label>Container</mat-label>

        <mat-select name="container" [(ngModel)]="form.container" #container="ngModel" >
          <mat-optgroup *ngFor="let place of places | entityList" [label]="place.name">
            <mat-option *ngFor="let container of place.containers | entityList" [value]="container.id">
              {{container.name}}
            </mat-option>
          </mat-optgroup>
        </mat-select>

        <app-form-error [errors]="form.errors" [field]="'container'"></app-form-error>

      </mat-form-field>

    </div>

    <div class="instance-form-row">

      <mat-form-field>

        <mat-label>WishList item</mat-label>

        <mat-select name="wishListItem" [(ngModel)]="form.wishListItem">
          <mat-optgroup *ngFor="let WL of getWishLists() | entityList" [label]="WL.name">
            <mat-option *ngFor="let WLI of getItems(WL)  | entityList" [value]="WLI.id">
              {{WLI.category.name}}
            </mat-option>
          </mat-optgroup>
        </mat-select>

        <app-form-error [errors]="form.errors" [field]="'wishListItem'"></app-form-error>

      </mat-form-field>


      <mat-form-field>

        <mat-label>ShopList</mat-label>

        <mat-select name="shopList" [(ngModel)]="form.shopList">
          <mat-option *ngFor="let SL of getShopLists() | entityList" [value]="SL.id">
            {{SL.shopName + ' ' + SL.created.simpleDateString}}
          </mat-option>
        </mat-select>

        <app-form-error [errors]="form.errors" [field]="'shopList'"></app-form-error>

      </mat-form-field>

    </div>

  </div>


  <button mat-raised-button style="width: 100%;" [color]="primary" (click)="submit()">
    Add
  </button>

</form>
