<ngb-tabset>

  <ngb-tab title="Description">
    <ng-template ngbTabContent>

      <table class="table table-hover">
        <tbody>
        <tr>
          <td><b>Producer:</b></td>
          <td>{{item.producer.name}}</td>
        </tr>
        <tr>
          <td><b>Capacity:</b></td>
          <td>{{item.capacity.toString()}}</td>
        </tr>
        <tr>
          <td><b>Barcode:</b></td>
          <td>{{item.barcode}}</td>
        </tr>
        <tr>
          <td><b>Description:</b></td>
          <td>{{item.description}}</td>
        </tr>
        <tr>
          <td><b>Storage rules:</b></td>
          <td>{{item.storage}}</td>
        </tr>
        </tbody>
      </table>

    </ng-template>
  </ngb-tab>

  <ngb-tab title="Ingredients">
    <ng-template ngbTabContent>

      <div class="row">
        <div class="col-sm-6">
          <ul class="list-group list-group-flush" style="max-height: 20rem; overflow-y: scroll">
            <li class="list-group-item"><b>Allergens</b></li>
            <li *ngFor="let allergen of item.allergens" class="list-group-item">{{allergen.name}}</li>
          </ul>
        </div>
        <div class="col-sm-6" style="max-height: 20rem; overflow-y: scroll">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Ingredients</b></li>
            <li *ngFor="let ingredient of item.ingredients" class="list-group-item">{{ingredient.name}}</li>
          </ul>
        </div>
      </div>

    </ng-template>
  </ngb-tab>


  <ngb-tab title="Nutrition">
    <ng-template ngbTabContent>

      <table class="table table-hover">

        <thead>
        <tr>
          <th scope="col">Typical Values</th>
          <th scope="col">Typical Values per 100[g/ml]</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>Energy</td>
          <td>{{item.nutrition.energy_KCAL}}kcal / {{item.nutrition.energy_KJ}}kJ</td>
        </tr>
        <tr>
          <td>Fat</td>
          <td>{{item.nutrition.fat}} g</td>
        </tr>
        <tr>
          <td>of which Saturates</td>
          <td>{{item.nutrition.saturatedFat}} g</td>
        </tr>
        <tr>
          <td>Carbohydrate</td>
          <td>{{item.nutrition.carbohydrate}} g</td>
        </tr>
        <tr>
          <td>of which Sugars</td>
          <td>{{item.nutrition.sugar}} g</td>
        </tr>
        <tr>
          <td>Protein</td>
          <td>{{item.nutrition.protein}} g</td>
        </tr>
        <tr>
          <td>Salt</td>
          <td>{{item.nutrition.salt}} g</td>
        </tr>
        </tbody>

      </table>

    </ng-template>
  </ngb-tab>

</ngb-tabset>
