<ng-container *ngIf="_place != null">

  <div id="place-header" class="row">
    <h1 class="col-6">
      {{_place.name}}
    </h1>
    <button class="col-6"
      *ngIf="canLeavePlace()" (click)="leavePlace()">
      LEAVE PLACE
    </button>
  </div>

  <div id="place-body" class="row" style="margin-left: 0; margin-right: 0">

    <div id="place-details" class="col-sm-12 col-md-6 col-lg-2 order-lg-12">
      <app-right-side-bar [place]="_place" class="sidebar"
        (chosenContainers)="setChosenContainers($event)"
        (selectedWishList)="setWishList($event)">
      </app-right-side-bar>
    </div>


    <div id="categories" class="col-sm-12 col-md-6 col-lg-2 order-lg-1" >
      <categories-menu (chosenCategory)="setChosenCategory($event)" class="sidebar"></categories-menu>
    </div>


    <div id="place-main" class="col-sm-12 col-md-12 col-lg-8 order-lg-2">
        <app-wish-list *ngIf="content == 'WISHLIST'" [wishList]="contentParams" (closeWishList)="setItems()"></app-wish-list>
        <app-place-items-scene *ngIf="content === 'ITEMS' && _chosenCategory != null" [category]="_chosenCategory" [place]="_place"  [containers]="_chosenContainers"></app-place-items-scene>
    </div>


  </div>

</ng-container>
