<ng-container *ngIf="_place != null">
  <div class="container-fluid place-container">
    <div style="max-width: 100vw; display: flex; justify-content: space-between; font-size: 3em;">
      <button style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; border: none; background: none">
        {{_place.name}}
      </button>
      <button class="leave-button" *ngIf="canLeavePlace()" (click)="leavePlace()">
        <i class="fas fa-sign-out-alt fa-lg"></i>
      </button>
    </div>

    <div id="place-body" class="row" style="margin-left: 0; margin-right: 0">

      <div id="place-details" class="col-sm-12 col-md-12 col-lg-3 order-lg-12">
        <app-right-side-bar [place]="_place" class="sidebar"
          (chosenContainers)="setChosenContainers($event)"
          (selectedWishList)="setWishList($event)"
          (chosenCategory)="setChosenCategory($event)"
        >
        </app-right-side-bar>
      </div>

      <div id="place-main" class="col-sm-12 col-md-12 col-lg-9 order-lg-2">
          <app-wish-list *ngIf="content == 'WISHLIST'" [wishList]="contentParams" (closeWishList)="setItems()"></app-wish-list>
          <app-place-items-scene *ngIf="content === 'ITEMS' && _chosenCategory != null && _chosenContainers != null" [category]="_chosenCategory" [containers]="_chosenContainers"></app-place-items-scene>
      </div>
    </div>

  </div>

</ng-container>
