<span (click)="close.emit()">CLOSE</span>

<div class="tab" *ngIf="currentStage == 'CATEGORY'">
  Choose category | <span (click)="goToPicker()">PICK ITEM</span>
  <categories-menu [rootCategory]="rootCategory" (chosenCategory)="rootCatgory = ($event)"></categories-menu>
</div>

<div class="tab" *ngIf="currentStage == 'PICKER'">
  Pick item
  <app-item-picker [place]="place" [category]="rootCatgory" (selectedItem)="chosenItem = ($event); goToItem()"></app-item-picker>
</div>

<div class="tab" *ngIf="currentStage == 'ITEM'">
  Add instance
  <app-item (newItemInstance)="addInstance($event)"
            [item]="chosenItem" [chosenContainers]="place.containers"
            [instances]="place.containers.getAllInstances().getByItems(chosenItem)"></app-item>
</div>
