<div class="card mb-3">

  <div class="card-header" style="display: flex; justify-content: space-between">
    {{item.author.name + ' on ' + (item.createdOn | date: 'dd/MM')}}

    <button *ngIf="item.addedInstance != null" class="btn" disabled><i class="fas fa-check-circle"></i></button>
    <button *ngIf="item.addedInstance == null" class="btn" (click)="openForm()"><i class="fas fa-plus"></i></button>
  </div>

  <div class="card-body">
    <h5 class="card-title">
      {{addedInstanceItem != null ? addedInstanceItem.name : item.category.name}}
    </h5>
    <p class="card-text">
      {{item.comment}}
    </p>
  </div>

</div>
