<ng-container *ngIf="place != null && _category != null">

  <div class="card" style="padding-left: 0; padding-right: 0">

    <div class="input-group" style="margin: 0">

      <div class="input-group-prepend" style="display: flex; width: 100%">
        <span class="input-group-text" style="flex-grow: 1">
          {{_category.name}}
        </span>
        <span class="input-group-text" style="flex-grow: 1">
          Producer
        </span>
      </div>

      <div style="width: 100%; display: flex">

        <input type="text" class="form-control" placeholder="Search by name..."
               name="name" [(ngModel)]="textSearch" (keyup)="onTextSearchChange()">

        <div class="input-group-append">
          <span class="input-group-text" style="border-left: none; background-color: white">
            <i class="fas fa-times" (click)="textSearch = ''; onTextSearchChange()"></i>
          </span>

          <button type="button" class="btn btn-secondary"
                  (click)="scanBarcode()">
            <i class="fas fa-barcode"></i>
          </button>

          <button type="button" class="btn btn-primary"
                  [disabled]="_category.isFinal() ? 0 : 1"
                  (click)="createNewItem()">
            <i class="fas fa-plus-square"></i>
          </button>
        </div>

      </div>

    </div>

    <!-- SEARCH RESULTS -->
    <div class="row" style="margin: 0; height: 350px; overflow: auto; -webkit-overflow-scrolling: touch;">

      <app-loader *ngIf="items == null"></app-loader>

      <ul *ngIf="items != null && !related" class="list-group" style="height: 350px; overflow-y: scroll; width: 100%">

        <a class="list-group-item list-group-item-action" style="cursor: default" *ngFor="let item of items.list" (click)="selectItem(item)">
          <div style="white-space: nowrap; text-overflow: ellipsis ;overflow: hidden;">{{item.name}}</div>
        </a>
        <li *ngIf="items.list.length == 0" class="list-group-item">
          No results...
        </li>

      </ul>

      <app-related-items-scene *ngIf = "items != null && related"
                               [items]="items"
                               (chosen)="selectItem($event)">
      </app-related-items-scene>

      <p class="border border-danger" *ngIf="errorMessage != null" (click)="errorMessage = null">
        <span *ngFor="let e of errorMessage.messages">
          {{e}}
        </span>
      </p>

    </div>

  </div>

</ng-container>

<app-loader *ngIf="!(place != null && _category != null)"></app-loader>
