<ng-container *ngIf="_place != null && _category != null">

  <div class="card" style="padding-left: 0; padding-right: 0">

    <div class="row input-group" style="margin: 0">
      <input type="text" class="form-control" placeholder="Search by name or barcode"
             name="name" [(ngModel)]="textSearch" (keyup)="onTextSearchChange()" (focus)="focused(true)" (blur)="focused(false)">

      <button type="button" class="btn btn-primary"
              [disabled]="_category.isFinal() ? 0 : 1"
              (click)="createNewItem()">
        Create new item
      </button>

    </div>

    <!-- SEARCH RESULTS -->
    <div class="row" [ngbCollapse]="isCollapsed" style="margin: 0; height: 350px; overflow: auto; -webkit-overflow-scrolling: touch;">

      <span style="margin: auto" *ngIf="items != null && items.size() === 0 && relatedItems == null">No results</span>

      <ul *ngIf="items != null && !showRelatedItems" class="list-group" style="height: 350px; overflow-y: scroll; width: 100%">

        <a class="list-group-item list-group-item-action" style="cursor: default" *ngFor="let item of items.list" (click)="selectedItem.emit(item)">
          <div style="white-space: nowrap; text-overflow: ellipsis ;overflow: hidden;">{{item.name}}</div>
        </a>

      </ul>

      <app-related-items-scene *ngIf = "showRelatedItems"
                               [items]="relatedItems"
                               (chosen)="selectedItem.emit($event)"
                               style="max-width: 100%; margin-top: 2px">
      </app-related-items-scene>

      <ng-container *ngIf="errorMessage != null" (click)="errorMessage = null">
        <p class="border border-danger">
          <span *ngFor="let e of errorMessage.messages">
            {{e}}
          </span>
        </p>
      </ng-container>

    </div>

  </div>

</ng-container>

<ng-container *ngIf="!(_place != null && _category != null)">

  <img src="https://cdn-images-1.medium.com/max/1600/0*mv8MNRLDNNnt5f72.gif"/> <br>

</ng-container>
