<mat-action-list>

  <button *ngFor="let shopList of list.filterByStatus(true) | entityList"
          mat-list-item (click)="select(shopList)">
    <span class="space-between" style="width: 100%">
      <span>
        {{shopList.shopName}}
      </span>
      <span style="color: rgba(22,30,13,0.65)">
        {{shopList.created.simpleDateString}}
      </span>
    </span>
  </button>

  <mat-divider></mat-divider>

  <button mat-list-item *ngFor="let shopList of deleted" (click)="select(shopList)">
    <span class="space-between" style="width: 100%">
      <span>
        {{shopList.shopName}}
      </span>
      <span style="color: rgba(107, 0, 12, 0.73)">
        {{shopList.created.simpleDateString}}
      </span>
    </span>
  </button>

  <button mat-list-item *ngIf="deletedOffset != null" (click)="getDeleted()">
    Show archived
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>

</mat-action-list>

<div class="option-buttons ob-right">

  <button mat-fab aria-label="New WishList" *ngIf="place != null"
          (click)="openForm()">
    <mat-icon aria-hidden="false" aria-label="Search item">add_new</mat-icon>
  </button>

</div>
