<ng-container *ngIf="_containers != null">

   <li style="cursor: default" [ngClass]="'list-group-item list-group-item-action' + (_chosenContainers.contains(container) ? '' : ' list-group-item-light')"
       *ngFor="let container of _containers.list" (click)="clickOnContainer(container)">
      {{container.name}}
   </li>

   <li class="list-group-item" style="padding: 0" *ngIf="isAdmin()"> <!--NEW CONTAINER FORM-->

      <!--INPUT-->
      <input autocomplete="off" type="text" class="dropdown-toggle" data-toggle="dropdown" [(ngModel)]="containerForm.name" name="name"
             placeholder="add new container" style="width: 80%; height: 50px; border: none; padding-left: 10%;"/>

      <!--BUTTON-->
      <button style="width: 20%; height: 50px;" type="submit" (click)="addContainer()">+</button>

    </li>


</ng-container>
