<div class="card" *ngIf="_wishList != null">

  <div class="card-header">

    <div class="row">
      <div class="col-sm-12 col-md-9">
        <h5>
          {{_wishList.name}}
        </h5>
        <h6>
          {{_wishList.description}}
        </h6>
      </div>

      <div class="col-sm-12 col-md-3">
        <div class="row">
          <div class="col-sm-4 col-md-12">
            <button class="btn menu-button" title="Add item" (click)="openForm()"><i class="fas fa-plus"></i></button>
          </div>

          <div class="col-sm-4 col-md-12">
            <button class="btn menu-button" title="Delete" (click)="archive()"><i class="fas fa-trash-alt"></i></button>
          </div>

          <div class="col-sm-4 col-md-12">
            <button class="btn menu-button" title="Close" (click)="close()"><i class="fas fa-times"></i> </button>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="card-body">

    <div class="card-columns">
      <app-wish-list-item *ngFor="let i of _wishList.wishListItems" [item]="i"></app-wish-list-item>
    </div>

  </div>

</div>


<app-loader *ngIf="_wishList == null"></app-loader>
