<mat-form-field style="display: block; width: 100%">
  <input matInput placeholder="WishList name" name="wish-list-name" [(ngModel)]="form.name"/>

  <app-form-error [errors]="form.errors" [field]="'name'"></app-form-error>
</mat-form-field>

<mat-form-field style="display: block; width: 100%">
  <textarea matInput placeholder="Description..." name="wish-list-description" [(ngModel)]="form.description">
  </textarea>

  <app-form-error [errors]="form.errors" [field]="'description'"></app-form-error>
</mat-form-field>

<button mat-raised-button style="display: block; width: 100%"
        (click)="submit()">
  <mat-icon>add</mat-icon>
  Add item
</button>
